@charset "UTF-8";

body{
    background-image: url(../imagens/fundo2.jpg);
    background-attachment: fixed; /* Imagem fica fixa, não rola junto para baixo quando desce */
    background-size: 100%; /* Imagem ajusta conforme o tamanho da tela */
    background-repeat: no-repeat;
    background-color: black;
}

/* Formatação imagagens */

figure.shuraimg img {
    width: 20%;
    top: 110%;
	margin-left: -45px;
	margin-top: 190px;
}

figure.runeimg img {
    position:absolute;
    width: 20%;
	left: 85%;
	top: 25%;
	margin-left: -110px;
	margin-top: 50px;
}


p {
    text-align: justify;
    text-indent: 50px;
}

span.Teste p {
    width: 700px;
    height: 350px;
    border-color: rgb(253, 251, 127);
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    position: absolute;
    top: 30%;
    left: 22%;
    background-color: rgb(241, 243, 128);
    opacity: 0.5;
}

span.Teste p span {
    color:rgb(14, 1, 1);
    position: absolute;
    top: 5%;
    left: 12%
}

h1.meuh1p {
    color: rgba(39, 36, 36, 0.712);
    position: absolute;
    top: 92%;
    left: 38%;
    font-family: Bradley Hand, cursive;
    font-size: 15px;
}

figure.testeSD {
    position: absolute;
    top: 2%;
    left: 45%;
}