body {
    background-image: url(../img/volante.avif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding-top: 15px;
}

.play {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    
}

.play a {
    background-color: rgb(10, 159, 185);
    border: 2px inset rgb(0, 0, 0);
    border-radius: 20px;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

.play a:hover {
    background-color: rgb(185, 182, 10);
}

footer {
    padding-top: 6%;
    font-size: 12px;
}

footer a {
    color: rgb(10, 159, 185);
    text-decoration: none;
}

.vizinho p {
    font-size: 25px;
}

.foto-vizinho img {
    border: 2px inset rgb(10, 159, 185);
    border-radius: 15px;
}

.vizinho, footer {
    text-align: center;
    color: rgb(255, 255, 255);
}

/* Telas */

@media only screen and (max-device-width: 700px) {

    h1 {
        font-size: 35px;
    }
    
    .foto-vizinho img {
        width: 320px;
    }

}