body {
	padding: 0;
	margin: 0;
}

/* Cor branca */
.navbar-brand, #navbarText a, .navbar-text {
	color: rgb(255, 255, 255);
}

/* Cor azul */
h1 {
	color: rgb(0, 123, 255);
}

a.navbar-brand {
	font-size: 40px;
}

#primeira-section {
	padding: 150px;
	text-align: center;
}

h2 {
	font-size: 20px;
}

.botao-contato {
	padding-top: 50px;
}

.container-web {
	display: flex;
	flex-direction: row;
	
}

.imagem-dev-web {
	padding: 50%;
	background-image: url(../img/desenvolvimento-web.webp);
	background-size: auto;
	background-repeat: no-repeat;
}